@CHARSET "UTF-8";

#loff_tooltip { 
	position: absolute;
}
.btn_settings {
	width: 72px;
}

.settings_btns {
	margin-left: 15%;
}

.btn_lawake {
	float:right; 
	margin-right:15px;
}

#comment {
	border:solid 1px lightgray;
	padding:2px;
}

.onoffswitch {
	position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    float:right;
    margin-top: 5px;
}
.onoffswitch-checkbox {
   display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #706767; border-radius: 0px;
    margin-bottom: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 26px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "Scan";
    padding-left: 10px;
    background-color: #FFFFFF; color: #000000;
}
.onoffswitch-inner:after {
    content: "Lock";
    padding-right: 10px;
    background-color: #FFFFFF; color: #000000;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 0px;
    background: #d5273a;
    position: absolute; top: 0; bottom: 0;
    right: 72px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
